<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kongming_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,88},{26,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{28,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{26,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{28,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{28,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,60},{26,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,88},{26,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,48},{26,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,32},{26,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{28,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{28,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,32},{26,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{28,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>kongming_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{26,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kongming.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e25750d8279a12254b1e3c38d6324f1$</string>
            <key>textureFileName</key>
            <string>kongming.png</string>
        </dict>
    </dict>
</plist>
